
/* header */
header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: green;
    margin-bottom: 50px;
    border: 1px solid black;
    
}
header nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
header nav a{
    text-decoration: none;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
.logo-header img{
    width: 200px;
    height: 100px;

}
.navigatie-top{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right:200px ;
}

/* body */
.wrapper{
    width: 100%;
    margin: auto;
    text-align: center;

}

/* index new product */
.new-product-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.new-product img{
    width: 200px;
}
/* Webshop */
.all-product-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
}
.product img{
    width: 200px;
    height: 150px;
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    background-color: green;
    border: 1px solid black;
}
.footer-group{
    display: flex;
    flex-direction: column;
}
/* producten */
.new-product{
    border: 1px solid black;
    padding: 20px;
    width: 200px;
}
.new-product img{
    width: 150px;
    height: 125px;
}
.form-group{
    padding: 10px;
}
.form-group input{
    width: 30px;
}

/* cart */

.cart{
    display: flex;
    justify-content: center;
}
.cart table{
    width: 500px;
    border: 1px solid black;
}
.cart table td{
    text-align: center;

}

/* verzend-cart */
.verzend-cart{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.verzend-cart form{
    width: 500px;
    border: 1px solid black;
    text-align: center;
}

/* inlogpagina */
.inlogdiv{
    display: flex;
    justify-content: center;
}
